* {
  outline: none;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

button {
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
button:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

select {
  background: white;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  -webkit-box-shadow: 0 1px 32px 0 rgba(49, 51, 77, 0.3);
          box-shadow: 0 1px 32px 0 rgba(49, 51, 77, 0.3);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  border-radius: 20px;
  color: #426696;
  border: 1.2px solid rgba(255, 255, 255, 0.15);
  padding: 4px 15px;
  border-radius: 15px;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}
select:active {
  background-color: #1979f7;
}

body {
  width: 100vw;
  margin: 0 auto;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  color: #426696;
  background-color: #67ded1;
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 20px;
  outline: none;
  -webkit-filter: blur(0);
          filter: blur(0);
  background-image: linear-gradient(45deg, #7ba4b1, #47595e);
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 20px;
  outline: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navbar {
  background: white;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  -webkit-box-shadow: 0 1px 32px 0 rgba(49, 51, 77, 0.3);
          box-shadow: 0 1px 32px 0 rgba(49, 51, 77, 0.3);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  border-radius: 20px;
  color: #426696;
  border: 1.2px solid rgba(255, 255, 255, 0.15);
  width: 95%;
  height: auto;
  margin: 10px auto;
  padding: 8px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.4)));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.4));
}
.navbar-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: auto;
  position: relative;
}
.navbar-part-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 10px;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}
.navbar-part-info .nav-br-btn {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
.navbar-part-info .nav-br-btn-link {
  position: relative;
  padding-left: 50px;
  color: #c19ae7 !important;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}
.navbar-part-info .nav-br-btn-link img {
  position: absolute;
  top: -10px;
  left: 5px;
  width: 40px;
  height: auto;
}
.navbar-part-info a {
  color: #a86ae6 !important;
}
.navbar-part-info .nav-btn {
  display: none;
}
.navbar-part-info .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.navbar-part-info .nav-list li {
  margin: 0 10px;
  color: #333 !important;
}
.navbar-part .checkNavbarTrue {
  height: auto !important;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}
.navbar-part .checkNavbarFalse {
  height: 37px !important;
  overflow: hidden !important;
}
@media only screen and (max-width: 680px) {
  .navbar-part-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar-part-info .nav-btn {
    display: inline-block;
    padding-top: 3px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    background-color: transparent !important;
  }
  .navbar-part-info .nav-br-btn {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #426696;
  }
  .navbar-part-info .nav-br-btn-link {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .navbar-part-info .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 30px;
    margin-left: 20%;
  }
  .navbar-part-info .nav-list li {
    margin: 8px 0;
  }
}
.navbar-part-shop {
  margin-right: 10px;
  color: #fff !important;
}
.navbar-part-shop .MuiIconButton-root {
  background: white;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  -webkit-box-shadow: 0 1px 32px 0 rgba(49, 51, 77, 0.3);
          box-shadow: 0 1px 32px 0 rgba(49, 51, 77, 0.3);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  border-radius: 20px;
  color: #426696;
  border: 1.2px solid rgba(255, 255, 255, 0.15);
  background: rgba(193, 214, 214, 0.2) !important;
  border-radius: 30%;
}
.navbar-part-shop img {
  width: 30px;
  -webkit-transform: translateX(-2px);
          transform: translateX(-2px);
}

.main {
  width: 95%;
  margin: 30px auto 0;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: white;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  -webkit-box-shadow: 0 1px 32px 0 rgba(49, 51, 77, 0.3);
          box-shadow: 0 1px 32px 0 rgba(49, 51, 77, 0.3);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  border-radius: 20px;
  color: #426696;
  border: 1.2px solid rgba(255, 255, 255, 0.15);
}
.main-items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main-items ul li {
  margin: 0 5px;
}
.main .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px;
}
.main .search .search-icon {
  -webkit-transform: translate(25px, 7px);
          transform: translate(25px, 7px);
  color: rgba(66, 102, 150, 0.8) !important;
}
.main .search input {
  min-width: 100px;
  border: none;
  outline: none;
  padding-left: 30px;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  color: #426696 !important;
  caret-color: #426696;
  background-color: transparent;
  border-bottom: 1.5px solid rgba(66, 102, 150, 0.6);
}
.main .search input::-webkit-input-placeholder {
  color: rgba(66, 102, 150, 0.6) !important;
}
.main .search input::-moz-placeholder {
  color: rgba(66, 102, 150, 0.6) !important;
}
.main .search input:-ms-input-placeholder {
  color: rgba(66, 102, 150, 0.6) !important;
}
.main .search input::-ms-input-placeholder {
  color: rgba(66, 102, 150, 0.6) !important;
}
.main .search input::placeholder {
  color: rgba(66, 102, 150, 0.6) !important;
}
.main .search span:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.main .search span:nth-child(2) h4 {
  padding-right: 5px;
  margin: 0;
  font-weight: 400;
}
.main-items {
  padding: 0 10px;
  margin-top: 50px;
}
.main-items-box {
  background: white;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  -webkit-box-shadow: 0 1px 32px 0 rgba(49, 51, 77, 0.3);
          box-shadow: 0 1px 32px 0 rgba(49, 51, 77, 0.3);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  border-radius: 20px;
  color: #426696;
  border: 1.2px solid rgba(255, 255, 255, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 350px;
  min-width: 250px;
  height: auto;
  padding: 0 10px;
  margin: 10px 0;
  clear: both;
}
.main-items-box img {
  position: relative;
  width: 100%;
  height: 200px;
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 13;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}
.main-items-box img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.main-items-box-img {
  border-radius: 20px;
  overflow: hidden;
}
.main-items-box-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 60%;
  height: 200px;
  text-align: center;
  padding: 10px 0;
}
.main-items-box h6, .main-items-box h5 {
  margin: 0;
  padding: 2px 5px;
}
.main-items-box .cost-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 15px 0 2px;
  padding: 0 10px;
}
.main-items-box .cost-btn h5 {
  font-size: 16px;
}
.main-items-box .cost-btn button {
  padding: 10px 30px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.45);
  -webkit-box-shadow: 0 1px 32px 0 rgba(31, 38, 135, 0.1);
          box-shadow: 0 1px 32px 0 rgba(31, 38, 135, 0.1);
  backdrop-filter: blur(55px);
  -webkit-backdrop-filter: blur(55px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.02);
  color: #658ec6;
  -webkit-transition: all ease 0.15s;
  transition: all ease 0.15s;
}
@media only screen and (max-width: 475px) {
  .main-items li {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-items-box {
    height: auto;
    padding: 10px;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 !important;
            flex: 1 !important;
  }
  .main-items-box-img {
    width: 100% !important;
  }
  .main-items-box-text {
    width: 94%;
    height: 40%;
    padding: 0;
    margin-top: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: white;
    background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.3)));
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    -webkit-box-shadow: 0 1px 32px 0 rgba(49, 51, 77, 0.3);
            box-shadow: 0 1px 32px 0 rgba(49, 51, 77, 0.3);
    -webkit-backdrop-filter: blur(1rem);
            backdrop-filter: blur(1rem);
    border-radius: 20px;
    color: #426696;
    border: 1.2px solid rgba(255, 255, 255, 0.15);
    z-index: 5;
  }
}
@media only screen and (max-width: 854px) {
  .main-items-box {
    width: 80%;
    margin: 10px auto;
  }
  .main-items-box-img {
    width: 60%;
  }
}

.category {
  width: 100%;
  height: auto;
  position: relative;
  text-align: center;
}
.category::before {
  content: "";
  position: absolute;
  bottom: -20px;
  right: 15px;
  display: inline-block;
  width: 100px;
  height: 100px;
  -webkit-box-shadow: 0 1px 32px 0 rgba(49, 51, 77, 0.2);
          box-shadow: 0 1px 32px 0 rgba(49, 51, 77, 0.2);
  background: -webkit-gradient(linear, right bottom, left top, from(rgba(154, 250, 255, 0.2)), to(rgba(255, 255, 255, 0.8)));
  background: linear-gradient(to left top, rgba(154, 250, 255, 0.2), rgba(255, 255, 255, 0.8));
  border-radius: 50%;
  -webkit-filter: blur(0.5px);
          filter: blur(0.5px);
}
.category .slick-next:before {
  display: none;
}
.category .slick-prev:before {
  display: none;
}
.category-slick {
  background: white;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  -webkit-box-shadow: 0 1px 32px 0 rgba(49, 51, 77, 0.3);
          box-shadow: 0 1px 32px 0 rgba(49, 51, 77, 0.3);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  border-radius: 20px;
  color: #426696;
  border: 1.2px solid rgba(255, 255, 255, 0.15);
  width: 95%;
  margin: 30px auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.category-slick h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  color: #9d31fe !important;
}
.category-slick h2 img {
  width: 45px;
  margin-right: 10px;
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
}
.category-slick-slider {
  border-radius: 20px;
  overflow: hidden;
}
.category-slick-slider-item {
  width: 300px;
  height: 250px;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}
.category-slick-slider-item .inner {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.9)));
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9));
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 20px;
  padding: 10px 10px 8px;
  height: auto;
  overflow: hidden;
}
.category-slick-slider-item .inner img {
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}
.category-slick-slider-item .inner h4 {
  position: absolute;
  left: 50%;
  bottom: -7%;
  width: 94%;
  height: auto;
  padding: 10px 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-backdrop-filter: blur(0.23rem);
          backdrop-filter: blur(0.23rem);
  -webkit-box-shadow: 0 1px 32px 0 rgba(49, 51, 77, 0.2);
          box-shadow: 0 1px 32px 0 rgba(49, 51, 77, 0.2);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.7)), to(transparent));
  background: linear-gradient(to top, rgba(255, 255, 255, 0.7), transparent);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #fff;
  z-index: 18;
}
.category-items {
  background: white;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  -webkit-box-shadow: 0 1px 32px 0 rgba(49, 51, 77, 0.3);
          box-shadow: 0 1px 32px 0 rgba(49, 51, 77, 0.3);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  border-radius: 20px;
  color: #426696;
  border: 1.2px solid rgba(255, 255, 255, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 95%;
  margin: 30px auto 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.4)));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.4));
  -webkit-backdrop-filter: blur(0.3rem) !important;
          backdrop-filter: blur(0.3rem) !important;
}
.category-items h4, .category-items h5 {
  margin: 20px 10px;
  padding: 0;
  font-weight: 500;
}
.category-items h4 i, .category-items h5 i {
  color: #3f9ee1;
  font-size: 1.3rem;
  margin-right: 5px;
}
.category-items-sort {
  width: 200px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.category-wrapper {
  background: white;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  -webkit-box-shadow: 0 1px 32px 0 rgba(49, 51, 77, 0.3);
          box-shadow: 0 1px 32px 0 rgba(49, 51, 77, 0.3);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  border-radius: 20px;
  color: #426696;
  border: 1.2px solid rgba(255, 255, 255, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 95%;
  margin: 10px auto 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 0;
}
.category-wrapper li {
  padding: 10px;
}
.category-wrapper li .cat-box-wrapper {
  background: white;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  -webkit-box-shadow: 0 1px 32px 0 rgba(49, 51, 77, 0.3);
          box-shadow: 0 1px 32px 0 rgba(49, 51, 77, 0.3);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  border-radius: 20px;
  color: #426696;
  border: 1.2px solid rgba(255, 255, 255, 0.15);
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1))) !important;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)) !important;
  width: 300px;
  height: auto;
  padding: 10px;
  overflow: hidden;
}
.category-wrapper li .cat-box-wrapper img {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.category-wrapper li .cat-box-wrapper .navlink-text {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  -webkit-box-shadow: 0 1px 32px 0 rgba(49, 51, 77, 0.3);
          box-shadow: 0 1px 32px 0 rgba(49, 51, 77, 0.3);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  border-radius: 20px;
  color: #426696;
  border: 1.2px solid rgba(255, 255, 255, 0.15);
  background: -webkit-gradient(linear, left bottom, right top, from(rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0.7))) !important;
  background: linear-gradient(to right top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.7)) !important;
  height: auto;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}
.category-wrapper li .cat-box-wrapper .navlink-text:hover {
  -webkit-box-shadow: 0 1px 32px 0 rgba(49, 51, 77, 0.2);
          box-shadow: 0 1px 32px 0 rgba(49, 51, 77, 0.2);
}

@media only screen and (max-width: 424px) {
  .category-title {
    width: 80%;
    margin: 0 auto;
    font-size: 1rem !important;
  }
}
.store-shop {
  background: white;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  -webkit-box-shadow: 0 1px 32px 0 rgba(49, 51, 77, 0.3);
          box-shadow: 0 1px 32px 0 rgba(49, 51, 77, 0.3);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  border-radius: 20px;
  color: #426696;
  border: 1.2px solid rgba(255, 255, 255, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  height: auto;
  margin: 30px auto 0;
}
.store-shop-form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
}
.store-shop-form p {
  margin: 10px 0;
}
.store-shop-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}
.store-shop-form form input {
  width: 90%;
  padding: 10px;
  margin: 10px auto;
  border: none;
  border-radius: 13px;
  outline: none;
  font-family: "Poppins", sans-serif;
}
.store-shop-form form button {
  width: 96%;
  margin: 0 auto;
}
.store-shop-form form button i {
  margin-right: 10px;
}
.store-shop-cart {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  padding: 0 20px;
}
.store-shop-cart .title-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #fff;
}
.store-shop-cart .title-header h3 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 1rem;
}
.store-shop-cart .table-wrapper {
  max-height: 90vh;
  padding-right: 5px;
  overflow-y: scroll;
}
.store-shop-cart .table-wrapper::-webkit-scrollbar {
  width: 0.4em;
}
.store-shop-cart .table-wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px, rgba(168, 106, 230, 0.9);
          box-shadow: inset 0 0 2px, rgba(168, 106, 230, 0.9);
}
.store-shop-cart .table-wrapper::-webkit-scrollbar-thumb {
  background-color: white;
  outline: 1px solid white;
  border-radius: 40px;
  outline: none;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  background-image: linear-gradient(45deg, rgba(168, 106, 230, 0.5), #39ddd5);
}
.store-shop-cart .table-wrapper::-webkit-scrollbar {
  width: 0.4em;
}
.store-shop-cart .table-wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.store-shop-cart .table-wrapper::-webkit-scrollbar-thumb {
  background-color: white;
  outline: 1px solid white;
  border-radius: 40px;
  outline: none;
}
.store-shop-cart table {
  width: 100%;
  border-spacing: 0 1rem;
}
.store-shop-cart table thead, .store-shop-cart table tbody {
  text-align: center;
}
.store-shop-cart table thead th:first-child,
.store-shop-cart table thead td:first-child, .store-shop-cart table tbody th:first-child,
.store-shop-cart table tbody td:first-child {
  text-align: left;
}
.store-shop-cart table thead th {
  font-size: 14.4px;
  font-weight: 400;
}
.store-shop-cart table tbody .shopcart-empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.store-shop-cart table tbody .shopcart-empty img {
  width: 300px;
  height: auto;
  margin-left: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (max-width: 540px) {
  .store-shop-cart table tbody .shopcart-empty img {
    width: 100% !important;
    height: auto;
  }
}
.store-shop-cart table tbody .product-item {
  border-spacing: 14px;
}
.store-shop-cart table tbody .product-item td {
  font-weight: 400;
  font-size: 0.9rem;
  background-color: rgba(255, 255, 255, 0.6);
}
.store-shop-cart table tbody .product-item .product-item-first {
  border-radius: 20px 0 0 20px;
}
.store-shop-cart table tbody .product-item .product-item-first div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
.store-shop-cart table tbody .product-item .product-item-first div img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 8px;
  border-radius: 20px;
}
.store-shop-cart table tbody .product-item .product-item-first div h5 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14.4px;
}
.store-shop-cart table tbody .product-item .product-item-first div button {
  color: #e25050;
}
.store-shop-cart table tbody .product-item .product-item-second button {
  padding: 10px;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;
  color: #426696;
  cursor: pointer;
}
.store-shop-cart table tbody .product-item .product-item-fourth {
  border-radius: 0 20px 20px 0;
}
.store-shop-cart .title-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  padding: 10px 0;
  border-top: 1px solid #fff;
}
.store-shop-cart .title-footer h3 {
  margin: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}
.store-shop .btn-style {
  margin-top: 20px;
  padding: 7px 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.88rem;
  outline: none;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.45);
  -webkit-box-shadow: 0 1px 32px 0 rgba(31, 38, 135, 0.1);
          box-shadow: 0 1px 32px 0 rgba(31, 38, 135, 0.1);
  backdrop-filter: blur(55px);
  -webkit-backdrop-filter: blur(55px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.02);
  color: #426696;
}
@media only screen and (max-width: 928px) {
  .store-shop {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .store-shop form button {
    width: 94%;
  }
}
@media only screen and (max-width: 455px) {
  .store-shop-cart .title-header h3 {
    font-size: 0.8rem !important;
  }
  .store-shop-cart table th, .store-shop-cart table td, .store-shop-cart table td h5 {
    font-size: 0.75rem !important;
  }
  .store-shop-cart table td img {
    min-width: 100px !important;
    margin: 3px !important;
  }
  .store-shop-cart table .product-item-second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
    height: 108px !important;
  }
  .store-shop-cart .title-footer h3, .store-shop-cart .title-footer button {
    padding: 5px 8px;
    font-size: 0.75rem !important;
  }
  .store-shop-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5px;
  }
  .store-shop-form p {
    width: 200px;
    height: auto;
    margin: 0;
    font-size: 0.7rem;
  }
  .store-shop-form input {
    min-width: 250px !important;
    margin: 10px 5px !important;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 95%;
  padding: 10px;
  margin: 30px auto;
  background: white;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  -webkit-box-shadow: 0 1px 32px 0 rgba(49, 51, 77, 0.3);
          box-shadow: 0 1px 32px 0 rgba(49, 51, 77, 0.3);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  border-radius: 20px;
  color: #426696;
  border: 1.2px solid rgba(255, 255, 255, 0.15);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.6)));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.6));
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.footer h3 {
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
}
.footer h3::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 60%;
  height: 2px;
  border-radius: 20px;
  background-color: #0b6db3;
}
.footer p {
  font-size: 0.9rem;
}
.footer div {
  width: 400px;
  padding: 10px;
}
.footer-about span {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.footer-about span a {
  background: white;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  -webkit-box-shadow: 0 1px 32px 0 rgba(49, 51, 77, 0.3);
          box-shadow: 0 1px 32px 0 rgba(49, 51, 77, 0.3);
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  border-radius: 20px;
  color: #426696;
  border: 1.2px solid rgba(255, 255, 255, 0.15);
  padding: 5px 8px;
  border-radius: 12px;
  -webkit-box-shadow: 0 1px 32px 0 rgba(49, 51, 77, 0.1);
          box-shadow: 0 1px 32px 0 rgba(49, 51, 77, 0.1);
}
.footer-about span a .fa-telegram {
  color: #426696;
}
.footer-about span a .fa-youtube {
  color: red;
}
.footer-about span a .fa-facebook {
  color: #725de4;
}
.footer-about span a .fa-instagram {
  color: #f9189f;
}
@media only screen and (max-width: 740px) {
  .footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}/*# sourceMappingURL=style.css.map */