.auth-wrapper{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 20px;
}
.auth-form{
    display:flex;
    flex-direction: column;
    width: 35%;
    min-width: 280px;
    height:auto;
    margin: 0 auto;
    padding: 20px;
}
.auth-form input{
    width: 80%;
    padding: 0;
    margin: 15px 0;
}
.auth-form button{
    width: 50%;
}
.auth-form input::placeholder{
    color:#ccc;
}